* {
  box-sizing: border-box;
}

.grid {
  background: white;
}

.grid:after {
  content: "";
  display: block;
  clear: both;
}

.grid-sizer,
.grid-item {
  width: 50%;
}

.grid-item {
  float: left;
}
.grid-item:hover {
  cursor: pointer;
}

.grid-item img {
  display: block;
  max-width: 100%;
  border: 10px solid white;
}
.grid-item video {
  display: block;
  max-width: 100%;
  border: 10px solid white;
}
@media screen and (max-width: 414px) {
  .grid-item img {
    border: 5px solid white;
  }
  .grid-item video {
    border: 5px solid white;
  }
}

.grid-item.grid-item__expanded {
  width: 66.66%;
  z-index: 2;
}
