* { box-sizing: border-box; }

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  height:100vh;
}
.page--filtering{
  min-height: 100vh;
}

.info {
    position: relative;
    left: 16.66%;
    margin-left: 16.66%;
    text-indent: -28%;
    margin-right: 24.99%;
  }

  .info-description {
    width: 33.33%;
    height: auto;
    display: block;
    clear: none;
    position: relative;
    float: left;
}

.info-project{
  padding: 10px 0px;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}


/* ---- button ---- */
.container{
margin-left: 50px;
}
.container-index{
margin-left: 0px;
/* min-height:100vh; */
min-height:calc(100vh - 90px);
}
.big-demo.go-wide{
  min-height:calc(100vh - 120px);
}

.container h2{
  color: black;
  font-size: 16px;
  text-align: left;
  font-weight: normal;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  margin:0;
}
.container2 h2{
  color: black;
  font-size: 16px;
  text-align: left;
  font-weight: normal;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  margin:0;
}
.container-index h2{
  color: black;
  font-size: 16px;
  text-align: left;
  font-weight: normal;
  padding-bottom: 5px;
  margin:0;
}
.container-index p1{
float:right;
margin:0;
z-index: 999;
}
.container-index span{
  color: black;
  font-size: 25px;
  font-weight: normal;
  padding-bottom: 5px;
  float:right;
}
.container-index h2:hover {
  text-decoration: underline;
}
.container-index p1:hover {
  text-decoration: underline;
}
a:hover {
  text-decoration: underline;
}

.button {
  display: inline-block;
  padding: 10px 15px;
  margin-bottom: 5px;
  margin-right: 3px;
  background: white;
  margin-left: 0px;
  border: 1px solid black;
  border-radius: 25px;
  color: black;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  cursor: pointer;
}
.filter-button-group.button-group.js-radio-button-group{
  padding-top: 14px;
  padding-bottom: 9px;
  border-bottom:1px solid black;
}

.button:hover {
  /* background-color: rgb(255, 79, 251); */
  /* background-color: rgba(0, 0, 0, 0.2); */
  color: white;
}

.button:active,
.button.is-checked {
  /* background-color: rgb(255, 79, 251); */
  background-color: rgba(0, 0, 0, 0.2);
}

.button.is-checked {
  color: white;
}

.button:active {

}

/* ---- button-group ---- */

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  float: left;
  border-radius: 25px;
  margin-left: 0px;
  margin-right: 3px;
  margin-top: 0;
  /* margin-bottom: 10px; */
}

/* TEST */

* {
  box-sizing: border-box;
}

.grid {
  background: white;
}

.grid:after {
  content: "";
  display: block;
  clear: both;
}

.grid-sizer2,
.grid-item2 {
  width: 50%;
}
.grid-item2 {
  float: left;
}
.grid-item2:hover {
  cursor: pointer;
}

.grid-item2 img {
  display: block;
  max-width: 100%;
  border: 5px solid white;
}
.grid-item2 video {
  display: block;
  max-width: 100%;
  border: 5px solid white;
}
@media screen and (max-width: 414px) {
  .grid-item2 img {
    border: 5px solid white;
  }
  .grid-item2 video {
    border: 5px solid white;
  }
}

@media screen and (max-width: 786px) {
  .grid-sizer2,
  .grid-item2 {
    width: 100%;
  }
}
.grid-item2.grid-item2__expanded {
  width: 66.66%;
  z-index: 2;
}

.grid-item {
  float: left;
}
.grid-item:hover {
  cursor: pointer;
}

.grid-item img {
  display: block;
  max-width: 100%;
  border: 5px solid white;
}
.grid-item video {
  display: block;
  max-width: 100%;
  border: 5px solid white;
}
@media screen and (max-width: 414px) {
  .grid-item img {
    border: 5px solid white;
  }
  .grid-item video {
    border: 5px solid white;
  }
}

@media screen and (max-width: 786px) {
  .grid-sizer,
  .grid-item {
    width: 100%;
  }
}


.grid-item.grid-item__expanded {
  width: 66.66%;
  z-index: 2;
}

/* HEADER */
.hero.is-light{
  background-color: white;
  width: calc(100% - 50px);
float: right;
}
.hero.is-light .title{
  color:black;
}
.hero.is-medium .hero-body{
  padding:0;
}
.hero-body{
  padding:0;
}

/* BUTTONS */
/* .hero.is-light .tabs.is-boxed li.is-active a, .hero.is-light .tabs.is-boxed li.is-active a:hover, .hero.is-light .tabs.is-toggle li.is-active a, .hero.is-light .tabs.is-toggle li.is-active a:hover{
  color:white;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  border: 1px solid black;
}

.hero-foot, .hero-head{
  background-color:white;
  border-bottom: 1px solid black;
  padding-bottom:10px;
  padding-top:10px;
  margin-bottom:5px;
}

.hero.is-light .tabs.is-boxed a:hover, .hero.is-light .tabs.is-toggle a:hover{
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
}
.hero.is-light .tabs.is-boxed a, .hero.is-light .tabs.is-toggle a{
  color:black;
  font-size: 12px;
}
.tabs.is-boxed a{
  border-radius: 20px;
  border: 1px solid black;
  padding-bottom:3px;
  padding-top:3px;
  margin:0;
  margin-right:3px;
} */
/* .tabs a{
  color:black;
} */


/* ---- isotope ---- */

/* .grid {
  min-height: 65vh;
  margin-top:10px;
  margin-bottom:10px;
}

.grid:after {
  content: '';
  display: block;
  clear: both;
} */


/* ---- .element-item ---- */

/* .element-item {
  position: relative;
  width: 50%;
  height: auto;
  padding: 5px;
  background: white;
}

.element-item > * {
  margin: 0;
  padding: 0;
}

.element-item img{
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.element-item video{
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

/* CHANGE IMG ON HOVER */

.switch {
position: relative;
display: inline-block;
    }
.switch .img-top {
display: none;
position: absolute;
top: 0;
left: 0;
    }
.switch:hover .img-top {
display: inline;
    }

/* END CHANGE IMG ON HOVER */

.element-item p{
  background-color: white;
  color: black;
  font-size: 20px;
  position: relative;
  float: left;
  width: 345px;
  height: 460px;
  margin: 10px;
  margin-top: 0px;
  margin-left: -9px;
  padding: 10px;
  /* margin-bottom: -35px; */
  border: 1px solid black;
  /* display: none; */

}

.element-item > * {
  margin: 0;
  padding: 0;
}
.work-title{
  /* border-bottom: 1px solid black; */
  padding-bottom:10px;
  font-size: 16px;
}
.about{
  /* column-count: 3; */
  padding:10px 0px;
  line-height: 20px;
  border-bottom:1px solid black;
  hyphens:auto;
}

.hide {
  display: none;
}
.text p{
color: rgba(0, 0, 0, 0.2);
font-size: 12px;
}
/*
.extra {
  display: inline-block;
  padding: 10px 18px;
  background: white;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 25px;
  color: black;
  font-family: sans-serif;
  font-size: 12px;
  z-index: 1;
  font-family: "Helvetica Neue", Helvetica, sans-serif;

  display:none;
} */



/* CONTACT FOOTER */

#page-container {
  position: relative;
  /* background: rgb(255, 79, 251); */
  background-color: rgba(0, 0, 0, 0.2);
  /* background: black; */
  color:white;
  border: 1px solid black;
  left:-1px;
  text-decoration: none;
  top:-1px;
}
#content-wrap {
  /* padding-bottom: auto;    /* Footer height */ */
  column-count: 3;
  padding:10px;
  padding-bottom:20px;
}
#content-wrap-2 {
  padding-bottom: auto;    /* Footer height */
  column-count: 2;
  font-size: 12px;
  color: black;
  padding-top:15px;
  padding-left: 5px;
  padding-bottom: 10px;
  border-top: 1px solid black;
  margin-top:10px;
}
#content-wrap p3{
  line-height: 200%;

}
p3 > a > li{
  text-decoration: none;
}

a > li{
  border-bottom: 1px solid white;
  color: white;
  text-decoration: none;
}
a > li > i{
  float: right;
  text-decoration: none;
  padding-right: 2px;
}

#content-wrap li{
  text-decoration: none;
}

#footer {
  position: absolute;
  bottom: 10px;
  width: 100%;
  height: auto;
  column-count: 3;
  margin-bottom: 5px;
  margin-top:auto;
}

.sliding-panel {
  position: fixed;
  color: white;
  width: 60px;
  height: 100%;
  z-index: 2;
}

#left-door {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  background-color: white;
  border-right: 1px solid black;
  top: 0;
  left: -300px;
  width: 350px;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}
sub{
padding-top:7px;
padding-right:5px;
padding-bottom:7px;
}
 p1#title {
   font-family: "Helvetica Neue", Helvetica, sans-serif;
   font-size: 16px;
   color: black;
   text-align: right;
   height: 100%;
   width: 65px;
   order: 2;
   display: flex;
   align-items: center;
   justify-content: center;
   writing-mode: vertical-lr;
   margin-right:-20px;
 }
p1#left-door:hover {
  /* color: rgb(255, 79, 251); */
  background-color: rgba(0, 0, 0, 0.2);
}
p2#about {
  color: black;
  top: 10px;
  left: -20px;
  width: 273px;
  overflow: auto;
  line-height: 20px;
  margin-left: 20px;
  margin-right:0.5px;
  -ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

p2#about::-webkit-scrollbar {
  display: none;
}

.slideshow {
}
.arrow:hover {
  color: white;
  /* background-color: rgb(255, 79, 251); */
  background-color: rgba(0, 0, 0, 0.2);
}
.arrow{
  text-align: center;
  padding:10px;
  border-radius: 20px;
  border:1px solid black;

  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;

  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.content {
  display: inline-block;
}

.slidelist {
  display: none;
}
.slide {
  width: 100%;
}

.slide img {
  top:0;
  width:100%;
  height: auto;
}

.description {
  font-family: monospace;
  font-size: 17px;
  color: white;
}
ul {
  list-style: none;
  padding-left:0;
  border-bottom:1px solid black;
  padding-bottom:5px;
  padding-top:10px;
  margin-bottom:5px;
  margin-top:0;

  /* line-height: 30px; */

}

.close-button {
  padding:10px;
	position: absolute;
	right: 5px;
	top: 5px;
	cursor: pointer;
}

.close-button:hover {
	/* color: rgb(255, 79, 251); */
  background-color: rgba(0, 0, 0, 0.2);
}

a{
  color:black;
  text-decoration:none;
}

.text p2{
float:right;
}
.text {
/* padding-top:5px; */
padding-left:5px;
padding-right:10px;
color: rgba(0, 0, 0, 0.2);
font-size: 12px;
padding-bottom:5px;

}

/* INDEX SLIDER */

#slider {
  position: relative;
  /* width: calc(100vw - 16px); */
  width: 75vw;
  height: auto;

  overflow: hidden;
}
#slider ul {
  position: relative;
  list-style: none;
  height: 100%;
  width: 10000%;
  padding: 0;
  margin: 0;
  transition: all 750ms ease;
  left: 0;
}
#slider ul li {
  position: relative;
  height: 100%;

  float: left;
  top: 50%;
}
#slider ul li img{
  /* width: calc(100vw - 16px); */
  width: 75vw;
  height: 100%;
  /* object-fit: contain; */
  background: black
}

#slider #prev, #slider #next {
  width: 50px;
  line-height: 50px;
  border-radius: 50%;
  font-size: 2rem;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  text-align: center;
  color: white;
  text-decoration: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 150ms ease;
}
#slider #prev:hover, #slider #next:hover {
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: 0;
}
#slider #prev {
  left: 10px;
}
#slider #next {
  right: 10px;
}


/* INDEX PAGE */

.random-pane {
  vertical-align: top;
  height: calc(100vh - 90px);
  width: 100vw;
  /* background-color: blue; */
}
.random-item {
  position: absolute;
  margin: auto;
  width: 200px;
  height: 200px;
  border: 1px solid black;
  background-color: white;
  display: inline-block;
  font-size:160px;
  padding: 5px 0;
  text-align: center;
}
.random-item p{
margin:0;
}
/* .grid-item p{
  font-size:160px;
  padding: 5px 0;
  text-align: center;
} */

/* .main-container {
    display: grid;
    grid-template-columns: 63% 0% 0% 33%;
    grid-template-areas:
        'main main main text'
        'main main main slide';
    grid-gap: 1em;
    background-color: #ffffff;
    padding: 1em;
    min-height: 100vh;
  }

@media screen and (max-width: 870px){
.main-container{
  display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
        'thumb'
        'text'
        'main';
    grid-gap: 1em;
    background-color: #ffffff;
    padding: 1em;
    padding-top: 0;
    min-height: 75vh;
}
}

.main-container > div{
  text-align: left;
    padding: 0 0;
}

.content_container{
  grid-area: main;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  .mySlides {
    width: 100%;
    height: 87%;
  }
  .mySlides2 {
    width: 100%;
    height: 100%;
    display: inline-block;
  }
  .mySlides3 {
      width: 100%;
      height: 73.1%;
      display: inline-block;
    }
  .cover {
    object-fit: cover;
    height: 100%;
  }

@media screen and (max-width: 870px) {
  .mySlides {
    width: 100%;
    height: 43vh;
  }
  .mySlides2 {
    height: 43vh;
  }
  .mySlides3 {
    display: none;
  }
} */


/* PROJECT PAGES */

.main-container {
    display: grid;
    grid-template-columns: 63% 0% 0% 33%;
    grid-template-areas:
        'main main main text'
        'main main main slide';
    grid-gap: 1em;
    background-color: #ffffff;
    padding-left:-5px;
    /* padding-right:10px; */
    padding-top:10px;
    min-height: 100vh;
  }

@media screen and (max-width: 870px){
.main-container{
  display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
        'thumb'
        'text'
        'main';
    grid-gap: 1em;
    background-color: #ffffff;
    padding-left:-5px;
    padding-right:0px;
    padding-top: 0;
    min-height: 75vh;
}
}
@media screen and (width: 1024px){
.main-container{
    padding-right:10px;
}
}

.main-container > div{
  text-align: left;
  padding: 0 0;
}
.content-container{
  grid-area: main;
}
.text-container{
  /* grid-area: main; */
}


@media only screen and (min-width: 1050px){
#content-wrap{
  column-count: 3;
}
}
@media only screen and (min-width: 1024px){
.work-title{
  border-bottom:1px solid black;
}
.info-project{
  border-bottom:none;
}
}
@media only screen and (max-width: 1050px){
#content-wrap{
  column-count: 2;
}
a > li{
  margin-top:1.1px;
}
#content-wrap-2{
  column-count: 2;
  font-size: 12px;
}
}
@media only screen and (max-width: 850px){
.element-item {
  width: 100%;
}
.about{
  column-count: 2;
  line-height: 20px;
}
.work-title{
  padding-top:10px;
}
.main-container {
  grid-gap:0;
}
}
@media only screen and (max-width: 730px){
#content-wrap{
  column-count: 1;
}
@media only screen and (max-width: 600px){
.element-item {
  width: 100%;
}
.button{
  font-size: 16px;
}
.about{
  /* font-size:15px; */
  column-count: 1;
  line-height: 20px;
}
}
